@model ConditionFormModel

    <h1>Manage Condition Categories</h1>

    <form method="post">
        <div class="form-row">
            <div class="col">
                <label asp-for="Name" class="col-sm-6 col-form-label">Enter Condition Name</label>
                <input asp-for="Name" type="text" class="form-control mb-3">
                <span asp-validation-for="Name" class="small text-danger"></span>
                <button asp-area="Admin" asp-controller="Books" asp-action="AddCondition" type="submit" value="Save" class="btn btn-primary">Save</button>
                <button asp-controller="Books" asp-action="DeleteCondition" type="submit" class="btn btn-danger float-right" value="Save">Delete</button>
            </div>
        </div>
    </form>