@model BookSearchServiceModel

@{
    ViewBag.Title = "Home Page";
    ViewBag.AllowBookEdit = true;
}

@if (!Model.Books.Any())
{
    <h2 class="text-center">You do not have any books yet.</h2>
}

<partial name="_BooksPartial" model="@Model.Books" />
<partial name="_PagingPartial" model="@Model" />