@using Knizhar.Data.Models
@using Microsoft.AspNetCore.Identity
@using Knizhar.Services.Knizhari

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject IKnizharService Knizhari

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        var userId = User.Id();
        var userIsKnizhar = Knizhari.IsKnizhar(userId);
        var userIsAdmin = User.IsAdmin();

        @if (userIsKnizhar && !userIsAdmin)
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Books" asp-action="MyBooks">My Books</a>
            </li>
        }
        else if (!userIsAdmin)
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Knizhari" asp-action="Create">Become a Knizhar</a>
            </li>
        }
        else if (userIsAdmin)
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Admin" asp-controller="Books" asp-action="All">Administration</a>
            </li>
        }
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>